<section class="stats">
    <span class="closed">{{ bugOperations.bugsList | closedCount }}</span>
    <span> / </span>
    <span>{{bugOperations.bugsList.length}}</span>
</section>
<section>
    <label for="">Order By :</label>
    <select [(ngModel)]="sortAttr">
        <option value="id">Id</option>
        <option value="name">Name</option>
        <option value="isClosed">Status</option>
        <option value="createdAt">CreatedAt</option>
    </select>
    <label for="">Descending ?:</label>
    <input type="checkbox" #checkDesc (change)="sortDesc=checkDesc.checked">
</section>
<section class="edit">
    <label for="">Bug Name :</label>
    <input type="text" [(ngModel)]="newBugName">
    <span> [ {{newBugName.length}} ] </span>
    <input type="button" value="Add New" (click)="onAddNewClick()">
</section>
<section class="list">
    <ol>
        <li *ngFor="let bug of ( bugOperations.bugsList | sort:sortAttr:sortDesc )">
            <span class="bugname"
                [ngClass]="{closed : bug.isClosed}"  
                (click)="onBugNameClick(bug)"  
            >{{bug.name}} - <small>[ {{bug.id}} ]</small></span>
            <div class="datetime" [title]="bug.createdAt">{{bug.createdAt | elapsed}}</div>
            <input type="button" value="Remove" (click)="onRemoveClick(bug)">
        </li>
        
    </ol>
    <input type="button" value="Remove Closed" (click)="onRemoveClosedClick()" >
</section>